.pagination-round {
  padding: 1rem 2rem !important;
  border-radius: 30px !important;  
}

.pagination-round .page-link {
    border-radius: 25px !important;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
	 .pagination-round {
	  padding: 1rem 8rem !important;
	}
	.pagination-round .page-link {
		margin-bottom: 0;
	}
}